---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import {
  AiFillGithub,
  AiFillLinkedin,
  AiFillMail,
  AiFillTwitterSquare,
} from "react-icons/ai";
import type { IconType } from "react-icons/lib";
import Base from "~/layout/Base.astro";

const allPosts = await getCollection("blog");
const posts = allPosts
  .sort((a, b) => {
    return (
      new Date(b.data.publishedAt).valueOf() -
      new Date(a.data.publishedAt).valueOf()
    );
  })
  .slice(0, 3);
---

<Base
  seo={{
    description: "Abandoned side projects collector",
  }}
>
  <section class="flex flex-col gap-6">
    <div class="flex items-center justify-start gap-2">
      <span class="font-medium text-lg">Arnav Gosain</span>
      <span>•</span>
      <span class="font-medium text-zinc-500">Delhi, India</span>
    </div>
    <p class="text-md">
      I'm a{" "}
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/arn4v"
        class="font-medium text-emerald-800 underline"
      >
        programmer
      </a>{" "}
      currently working at{" "}
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://remnote.com"
        class="font-medium text-emerald-800 underline"
      >
        RemNote
      </a>
      . I like to learn by{" "}
      <a href="/projects" class="font-medium text-emerald-800 underline">
        making things
      </a>{" "}
      and infrequently{" "}
      <a href="/blog" class="font-medium text-emerald-800 underline">
        writing
      </a>{" "}
      about them.
    </p>
  </section>
  <section id="social_links" class="flex items-center mt-8 gap-4">
    {
      (
        [
          [AiFillMail, "Email", "mailto:arnav@arnavgosain.com"],
          [AiFillTwitterSquare, "Twitter", "https://twitter.com/arn4v"],
          [AiFillGithub, "GitHub", "https://github.com/arn4v/"],
          [AiFillLinkedin, "LinkedIn", "https://www.linkedin.com/in/arn4v/"],
        ] as [IconType, string, string][]
      ).map(([Icon, title, href]) => (
        <a href={href}>
          <Icon className="w-7 h-7" />
          <span class="sr-only">{title}</span>
        </a>
      ))
    }
  </section>
  <section id="recent_posts" class="flex flex-col mt-8 gap-4">
    <h2 class="text-xl font-semibold text-zinc-800">Recent posts</h2>
    <ul class="flex flex-col gap-4 list-none">
      {
        posts.map((item) => (
          <li class="flex flex-col gap-1">
            <span class="text-sm text-radix-slateDark-slate9 font-medium">
              {format(new Date(item.data.publishedAt), "do MMMM yyyy")}
            </span>
            <a
              href={"/" + item.slug}
              class="font-medium text-emerald-800 font-blog-title hover:underline"
              style={{ lineHeight: "normal" }}
            >
              {item.data.title.trim()}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <!-- <section id="recent_projects" class="flex flex-col mt-12 gap-4">
    <h2 class="text-xl font-semibold text-zinc-800">Recent projects</h2>
    <div class="grid grid-flow-row lg:grid-cols-3 gap-4 list-none">
      {
        projects.slice(0, 3).map((item, idx) => (
          <a
            href={`/projects#${item.name}`}
            class="font-medium text-radix-slateDark-slate4 hover:text-emerald-800 whitespace-pre-wrap font-serif transition h-max w-full p-4 bg-white rounded-lg shadow flex gap-2 items-center justify-start group hover:-translate-y-2 transform"
          >
            {item.name}
            <ArrowRight className="group-hover:translate-x-2 transform transition" />
          </a>
        ))
      }
    </div>
  </section> -->
</Base>
